/* css reset */
*{
    margin: 0;
    padding: 0;
}

/* css variables */
:root{
    --navbar-height:59px;
}

/* nav bar */
#navbar{
    display: flex;
    align-items: center;    
}

/* Navigation bar:logo and image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}

/* Navigation bar:list styling */
#navbar{
    position: relative;
}
#navbar ul{
    display: flex;
    font-family: "Montserrat", sans-serif;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3 rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 730px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('./images/Burger.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    font-family: "Bree Serif", serif;
    color: white;
    text-align: center;
}

#home p{
    font-family: "Bree Serif", serif;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* services */

#services{
    margin: 34px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
}

#services .box img{
    display: block;
    margin: auto;
    height: 160px;
}

#services{
    
}

#services{
    
}

/* utility class */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 17px;
    cursor: pointer;
}

.center{
    text-align: center;
}